body,html{
    background:#202;
    color:#eee;
}
header{
    position:sticky;
    background:#202;
    font-size:3rem;
    text-align: center;
}
main{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
img{
    width:100%;
    height:100%;
}

form{
    background: #fff8ff;
    color: #202;
    padding: 10rem;
    width: 50%;
    border-radius:5px;
    font-size:2rem;
    line-height:2.2rem;
}

input,textarea{
    width:100%;
    border-radius:2px;
}